<ul>
    <li>@ViewData["CacheTime"]</li>
    <li>@ViewData["CurrentTime"]</li>
</ul>

<form method="post" asp-controller="Session" asp-action="Post">
    <input type="text" class="form-control" name="id" />
    <input type="submit" class="btn btn-primary" value="送信" />
</form>

<span>@ViewData["SessionData"]</span>
