@using AspNetCoreSample.Mvc.Components
@{
  ViewData["Title"] = "Component Page";
}

<div class="text-center">
  <h1 class="display-4">Razor Component</h1>
</div>

<component type="typeof(MyComponent)" render-mode="Server" />

<component type="typeof(MyComponent)" render-mode="ServerPrerendered" />

<component type="typeof(MyComponent)" render-mode="Static" />

<div class="text-center">
  <h1 class="display-4">View Component</h1>
</div>

<!-- MVCのビューでの呼び出し -->
@(await Component.InvokeAsync<ButtonViewComponent>("No1"))

@(await Component.InvokeAsync<ButtonViewComponent>("No2"))

@(await Component.InvokeAsync<ButtonViewComponent>("No3"))

@section Scripts {

}
