@using AspNetCoreSample.Mvc.Views.Components
@{
  ViewData["Title"] = "Component Page";
}

<div class="text-center">
  <h1 class="display-4">Component</h1>
</div>

<ul>
  <li><a asp-controller="Component" asp-action="My">MyComponent</a></li>
  <li><a asp-controller="Component" asp-action="Dialog">DialogComponent</a></li>
</ul>

<p>ServerPrerendered</p>
<component type="typeof(CounterComponent)" render-mode="ServerPrerendered" />

@section Scripts {
  <script src="~/_framework/blazor.server.js"></script>
}
