@{
  ViewData["Title"] = "Lit Page";
}

@section Styles {
  @* <link rel="stylesheet" href="~/js/lit/asset.css" asp-append-version="true" /> *@
}

<form method="post" asp-controller="Lit" asp-action="Index">
  <webapi-component inputName="Name1"></webapi-component>
  <input type="text" name="nonComponent" value="test">
  <button type="submit">Submit</button>
</form>

@section Scripts {
  <script type="module" src="~/js/lit/entry.js" asp-append-version="true"></script>
}
