@model string

<div>
    <p>@Model</p>
</div>

<div class="sample-div">
    <input type="text" class="from-control sample-input" />
    <button type="button" class="btn btn-primary sample-button">送信</button>
    <label class="form-label sample-label"></label>
</div>
