@{
    ViewData["Title"] = "TypeScript Page";
}

<h1>これは赤色？</h1>

<button class="target btn btn-primary">aaaa</button>

@section Styles {
    <link rel="stylesheet" href="~/dist/css/sample.css" asp-append-version="true" />
}

@section Scripts {
    <script type="module" src="~/dist/js/sample.js" asp-append-version="true"></script>
}
