@model __ModelTypeName__
@* auto generated code *@
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>__ModelTypeName__</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            __ViewTargetModelCreate__
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
