@model __ModelTypeName__

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>__ModelTypeName__</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            __ViewTargetModelEditPrimaryKey__
            __ViewTargetModelEditProperties__
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
