@{
  ViewData["Title"] = "Push Page";
}

<ol>
  <li><a asp-area="" asp-controller="Push" asp-action="Register">Register&Subscribe</a></li>
  <li><a asp-area="" asp-controller="Push" asp-action="SendPush">SendPush</a></li>
</ol>
