@model VueIndexViewModel
@{
    ViewData["Title"] = "Htmx Page";
}

<div class="text-center">
    <h1 class="display-4">Htmx</h1>
</div>
<div>
    <input type="text" id="request" name="request">
    <input type="button" class="btn btn-default" hx-post="@Url.Action("FetchPost", "HtmxApi")" hx-ext="json-enc"
        hx-target="#target" hx-include="#request" hx-trigger="click">送信</input>
</div>

<p id="target">ここが変わる</p>

@section Scripts {
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
}
